.main {
    min-width: 1200px;
    height: 100%;
}

.topBox {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 1200px;
}

.homeLogo {
    margin-left: 100px;
}

.homeSearchBox {
    margin: 20px auto;
    width: auto;
    height: auto;
    line-height: 40px;
}

.homeSearchBox input {
    margin:  10px auto;
    width: 300px;
    height: 40px;
    border-radius: 25px;
    border: none;
    padding: 20px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    outline: none;
}

.homeSearchBox button {
    margin-left: -20px;
    width: 80px;
    height: 40px;

    color: white;
    background: #24A5FF;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
}

/*----------*/
.Container {
    min-width: 1000px;
    width: 90%;
}

.middleNav {
    margin-top: 10px;
    height: auto;
    width: 100%;
    overflow: hidden;
}
/*------------*/
.leftNav {
    height: 84px;
}

.leftNav ul {
    list-style: none;
}
.leftNav li {
    list-style-type: none;
    float: left;
    height: 100%;
    padding: 20px;
    font-size: 14px;
}

.leftNav li a {
    display: block;
    height: 42px;
    overflow: hidden;
}

.leftNav a {
    color: black;
    cursor: pointer;
}

.leftNav img {
    border: 0;
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: 6px;
    vertical-align: text-bottom;
}
/*-------------*/
.middleSmallNav {
    height: 84px;
    font-size: 14px;
}

.middleSmallNav li {
    width: 10%;
    float: left;
    list-style: none;
    padding: 20px;
}

.middleSmallNav li a {
    display: block;
}

.middleNav a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    height: 42px;
}
/*--------------*/
.rightNav {
    height: 84px;
    font-size: 14px;
    text-align: center;
}

.rightNav li {
    float: left;
    list-style: none;
    padding: 20px;
}

.rightNav li a {
    display: block;
}

.rightNav img {
    width: 46px;
    height: 46px;
}

